/* header ul li{
   
    display: inline-block;
    list-style:inside;
    margin: 0px 20px;
    align-content: center;
} */

body { 
    background: pink;
    height: 450px;
    border: 2px black;
    background-color: lightpink;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #2F333F;
    margin: 5px 5px 3px 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 50%;

    border: 1px solid #ff6387;
    background-color: lightpink;
    padding: 8px;
    text-align: left;
}

header{
    width: 100%;
    background: pink;
    padding: 12px ;
    margin: 10px 0px;
    border: pink ;
    border-radius: 4px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center; 

}

div{
    width: 95%;
    padding: 10px;
    padding-top: auto;
    margin: auto;
    margin-bottom: 10px;
    background: pink;
    border-radius: 4px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* .prices{
    text-align: center;
} */


.ul-container2 {
    
    float: right;
    margin-right: 20px; /* Espacio entre las listas */
}

.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    display: center;
    align-items: stretch center;
    background-color:  #fccad6d3;
}

.infoCommssion{
    text-align: center;
}
.container01{
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
}

/* .p-style1{
    text-emphasis-color: RED
    ;
} */

/* .imagenes{
align-items:center;
} */

.button {
    width: 85%; /* Ajusta el ancho según tu preferencia */
    max-width: 400px;
    border: 1px solid #ff6387;
    /* background: rgb(254, 215, 221);
    box-shadow: 2px 6px 3px #fe9ab1; */
    padding: 12px ;
    margin: auto;
    border-radius: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font:#3e3f2f;
    font-size: 16px;
    text-align: center;
}
.button:hover {
    background-color: #fe9ab1; /* Cambia el color de fondo al pasar el mouse por encima */
    color: #3e3f2f; /* Cambia el color de texto al pasar el mouse por encima */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima para indicar que es interactivo */
}
.form-Commisions{
    width: 95%;
    box-sizing: border-box;
    background: #fcdce4;
    padding: 30px;
    margin: auto;
    /* margin-top: 50px; */
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 13px 37px #ff6387;
    margin-bottom: 20px;
    
}
footer{
    width: 100%;
}